<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCAT</title>
	<link rel="stylesheet" href="../css/room.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<div class="rm-container">
		<h1 class="rm-title">ChatCAT</h1>
		<div class="rm-userbox">
			<img src="{{user.profilePictureURL}}" class="userPic">
			<h3 class="userName">
				<span class="fullName"></span>
				<a href="/logout">Çıkış</a>
				<a href="/chatrooms">Odalar</a>
			</h3>
		</div>
		<div class="rm-roomname">
			<h5 class="roomName">{{room.name}}</h5>
		</div>
		<div class="rm-messages">
			<ul class="messages">

			</ul>
		</div>
		<div class="rm-users">
			<ul class="users">

			</ul>
		</div>
		<div class="rm-newmessage">
			<input type="text" class="newmessage" autocomplete="off" placeholder="Mesajınızı yazıp enter'a basınız">
		</div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
	<script src="../js/sessionStorage.js" charset="utf-8"></script>
	<script type="text/javascript">
		window.roomPage = {
			room: {{{room}}},
			user: {{{user}}},
			socket_host: '{{socket_host}}'
		};
	</script>
	<script src="../js/room.js" charset="utf-8"></script>
</body>
</html>
